extends ../_layout.pug

block content
  
  include ../components/_header

  div.gif
    div.container
      div.gif-heading
        h2 Video
      div.gif-items
        
        mixin image(src,link)
          div.gif-item
            a(href='http://www.facebook.com/sharer/sharer.php?u=https://giphy.com/gifs/' + link, target='_blank')
              div.gif-item-image
                img(src=src alt='')

        //- j9LIW4YYfUp7W // 1
        //- i7RdCywVmFAyY // 2
        //- ndR3Iuc7ZRGJG // 3
        //- Ll9Fq4C3RSKas // 4
        //- VEIXHnjYbvLby // 5
        //- SKvP8a6jbPLoY // 6
        //- L6MpuMD9v7tSw // 7
        //- rStxCGRgIGEUw // 8

        +image('/img/j9LIW4YYfUp7W.gif', 'j9LIW4YYfUp7W')
        +image('/img/tk2MjKGg0h04g.gif', 'tk2MjKGg0h04g')
        +image('/img/i7RdCywVmFAyY.gif', 'i7RdCywVmFAyY')
        +image('/img/5TeT3OTFloazK.gif', '5TeT3OTFloazK')
        +image('/img/3oEduHbGIZHblgkx20.gif', '3oEduHbGIZHblgkx20')
        +image('/img/ndR3Iuc7ZRGJG.gif', 'ndR3Iuc7ZRGJG')
        +image('/img/Em4eDeu5Rcyf6.gif', 'Em4eDeu5Rcyf6')
        +image('/img/Ll9Fq4C3RSKas.gif', 'Ll9Fq4C3RSKas')
        +image('/img/VCjnrwDt3QZ9K.gif', 'VCjnrwDt3QZ9K')
        +image('/img/x2ouXfknCbtg4.gif', 'x2ouXfknCbtg4')
        +image('/img/VEIXHnjYbvLby.gif', 'VEIXHnjYbvLby')
        +image('/img/sIJszcGE4RSRW.gif', 'sIJszcGE4RSRW')
        +image('/img/QoCJDp6ttVSw.gif', 'QoCJDp6ttVSw')
        +image('/img/SKvP8a6jbPLoY.gif', 'SKvP8a6jbPLoY')
        +image('/img/BH87AneT94Ziw.gif', 'BH87AneT94Ziw')
        +image('/img/YmsvQe5JFSa1q.gif', 'YmsvQe5JFSa1q')
        +image('/img/5IALGbGDGCPrq.gif', '5IALGbGDGCPrq')
        +image('/img/l0IyemUvzjXsA5gwE.gif', 'l0IyemUvzjXsA5gwE')
        +image('/img/L6MpuMD9v7tSw.gif', 'L6MpuMD9v7tSw')
        +image('/img/111WF6AJfztMvm.gif', '111WF6AJfztMvm')
        +image('/img/hC7hhvggNdbMc.gif', 'hC7hhvggNdbMc')
        +image('/img/rStxCGRgIGEUw.gif', 'rStxCGRgIGEUw')
