- var title       = 'Stelle Filanti'
- var page        = 'Burger'
- var description = 'Official website for Gazzelle Stelle Filanti single'
- var themeColor  = '#FFE381'
- var thumbnail   = '/img/social.jpg'
- var url         = 'http://stelle-filanti.landhostudio.com/'
- var facebookID  = '000000000000000'
