extends _layout.pug

block content
  include components/_header
  
  div.hamburger
    div.container

      div.hamburger-scene

        div.hamburger-scene-holder
        
          div.hamburger-scene-message
            include ../img/compose.svg
        
          div.hamburger-scene-bread_top
            div.hamburger-ingredient.hamburger-ingredient--bread_top
              div.hamburger-ingredient-image
                div.hamburger-ingredient-image-holder
                  img(src='/img/bread_top.png', alt='')

          div.hamburger-scene-onions
            div.hamburger-ingredient.hamburger-ingredient--onion.hamburger-ingredient--onion-1.hamburger-ingredient--onion--active
              div.hamburger-ingredient-image
                div.hamburger-ingredient-image-holder
                  img(src='/img/onion-1.png', alt='')
            div.hamburger-ingredient.hamburger-ingredient--onion.hamburger-ingredient--onion-2
              div.hamburger-ingredient-image
                div.hamburger-ingredient-image-holder
                  img(src='/img/onion-2.png', alt='')
            div.hamburger-ingredient.hamburger-ingredient--onion.hamburger-ingredient--onion-3
              div.hamburger-ingredient-image
                div.hamburger-ingredient-image-holder
                  img(src='/img/onion-3.png', alt='')

          div.hamburger-scene-salads
            div.hamburger-ingredient.hamburger-ingredient--salad.hamburger-ingredient--salad-1.hamburger-ingredient--salad--active
              div.hamburger-ingredient-image
                div.hamburger-ingredient-image-holder
                  img(src='/img/salad-1.png', alt='')
            div.hamburger-ingredient.hamburger-ingredient--salad.hamburger-ingredient--salad-2
              div.hamburger-ingredient-image
                div.hamburger-ingredient-image-holder
                  img(src='/img/salad-2.png', alt='')
            div.hamburger-ingredient.hamburger-ingredient--salad.hamburger-ingredient--salad-3
              div.hamburger-ingredient-image
                div.hamburger-ingredient-image-holder
                  img(src='/img/salad-3.png', alt='')

          div.hamburger-scene-tomatos
            div.hamburger-ingredient.hamburger-ingredient--tomato.hamburger-ingredient--tomato-1.hamburger-ingredient--tomato--active
              div.hamburger-ingredient-image
                div.hamburger-ingredient-image-holder
                  img(src='/img/tomato-1.png', alt='')
            div.hamburger-ingredient.hamburger-ingredient--tomato.hamburger-ingredient--tomato-2
              div.hamburger-ingredient-image
                div.hamburger-ingredient-image-holder
                  img(src='/img/tomato-2.png', alt='')
            div.hamburger-ingredient.hamburger-ingredient--tomato.hamburger-ingredient--tomato-3
              div.hamburger-ingredient-image
                div.hamburger-ingredient-image-holder
                  img(src='/img/tomato-3.png', alt='')

          div.hamburger-scene-sauces
            div.hamburger-ingredient.hamburger-ingredient--sauce.hamburger-ingredient--sauce-1.hamburger-ingredient--sauce--active
              div.hamburger-ingredient-image
                div.hamburger-ingredient-image-holder
                  img(src='/img/sauce-1.png', alt='')
            div.hamburger-ingredient.hamburger-ingredient--sauce.hamburger-ingredient--sauce-2
              div.hamburger-ingredient-image
                div.hamburger-ingredient-image-holder
                  img(src='/img/sauce-2.png', alt='')
            div.hamburger-ingredient.hamburger-ingredient--sauce.hamburger-ingredient--sauce-3
              div.hamburger-ingredient-image
                div.hamburger-ingredient-image-holder
                  img(src='/img/sauce-3.png', alt='')

          div.hamburger-scene-cheeses
            div.hamburger-ingredient.hamburger-ingredient--cheese.hamburger-ingredient--cheese-1.hamburger-ingredient--cheese--active
              div.hamburger-ingredient-image
                div.hamburger-ingredient-image-holder
                  img(src='/img/cheese-1.png', alt='')
            div.hamburger-ingredient.hamburger-ingredient--cheese.hamburger-ingredient--cheese-2
              div.hamburger-ingredient-image
                div.hamburger-ingredient-image-holder
                  img(src='/img/cheese-2.png', alt='')
            div.hamburger-ingredient.hamburger-ingredient--cheese.hamburger-ingredient--cheese-3
              div.hamburger-ingredient-image
                div.hamburger-ingredient-image-holder
                  img(src='/img/cheese-3.png', alt='')

          div.hamburger-scene-meats
            div.hamburger-ingredient.hamburger-ingredient--meat.hamburger-ingredient--meat-1.hamburger-ingredient--meat--active
              div.hamburger-ingredient-image
                div.hamburger-ingredient-image-holder
                  img(src='/img/meat-1.png', alt='')
            div.hamburger-ingredient.hamburger-ingredient--meat.hamburger-ingredient--meat-2
              div.hamburger-ingredient-image
                div.hamburger-ingredient-image-holder
                  img(src='/img/meat-2.png', alt='')
            div.hamburger-ingredient.hamburger-ingredient--meat.hamburger-ingredient--meat-3
              div.hamburger-ingredient-image
                div.hamburger-ingredient-image-holder
                  img(src='/img/meat-3.png', alt='')

          div.hamburger-scene-bread_bottom
            div.hamburger-ingredient.hamburger-ingredient--bread_bottom
              div.hamburger-ingredient-image
                div.hamburger-ingredient-image-holder
                  img(src='/img/bread_bottom.png', alt='')

      div.hamburger-ingredients
        div.hamburger-ingredients-holder
          button(type='button').hamburger-ingredients-button.hamburger-ingredients-button--onion
            span Onion
            span
              include ../img/plus.svg
        div.hamburger-ingredients-holder
          button(type='button').hamburger-ingredients-button.hamburger-ingredients-button--salad
            span Salad
            span
              include ../img/plus.svg
        div.hamburger-ingredients-holder
          button(type='button').hamburger-ingredients-button.hamburger-ingredients-button--tomato
            span Tomato
            span
              include ../img/plus.svg
        div.hamburger-ingredients-holder
          button(type='button').hamburger-ingredients-button.hamburger-ingredients-button--sauce
            span Sauce
            span
              include ../img/plus.svg
        div.hamburger-ingredients-holder
          button(type='button').hamburger-ingredients-button.hamburger-ingredients-button--cheese
            span Cheese
            span
              include ../img/plus.svg
        div.hamburger-ingredients-holder
          button(type='button').hamburger-ingredients-button.hamburger-ingredients-button--meat
            span Meat
            span
              include ../img/plus.svg
        div.hamburger-ingredients-holder.hamburger-ingredients-holder--order
          a(href='/map').hamburger-ingredients-button.hamburger-ingredients-button--order Order
